
# Build output
.cache/
# Cache
# Dependencies
dist/
.DS_Store
.env
# Environment
.env.*.local
.env.local
# IDE
.idea/
*.log
# Logs
node_modules/
npm-debug.log*
# OS
package-lock.json
*.swo
*.swp
Thumbs.db
.vercel
.vscode/
